# Ignore node_modules and dependency files
node_modules
npm-debug.log
package-lock.json

# Ignore Next.js build and cache files
.next
.next/cache
out
.cache

# Ignore environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Ignore logs and temporary files
logs
*.log
*.log.*
.DS_Store

# Ignore editor and OS-specific files
.vscode
.idea
*.swp
*.swo

# Ignore local and Docker files
docker-compose.yml
Dockerfile
.dockerignore
